@model evs.Model.LocalPasswordModel

<p>
   Enter and confirm your new password below.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            <br/>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
         <br/>
        <input type="submit" value="Set password" class="btn btn-primary btn-block"/>
    </fieldset>
}
