@*<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<ledme2.Models.LoginModel>" %>*@

@using System.Web.Optimization
@model evs.Model.LoginModel

@{
    ViewBag.Title = "Log in";
}

@*<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    Reset Pass
</asp:Content>*@

<asp:content id="Content2" contentplaceholderid="MainContent" runat="server">

    <hgroup class="title">
        <h4 class="text-center">Reset Your Password</h4>
    </hgroup>

    <section id="loginForm">
        <p >Enter the username you wish to reset. An email will be sent with your password and the new password will expire in 3 hours.</p>
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
                @Html.AntiForgeryToken() 
                @Html.ValidationSummary(true) 
            
                <form>        
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName) 
                    
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                   
                     @Html.ValidationMessageFor(m => m.UserName) 
                </div>
               <input type="submit" class="btn btn-success btn-block" value="Reset Your Password"/>
                </form>  
        } 

        @if (ViewData["msg"] != null)
        { 
                @ViewData["msg"] 
        } 
    </section>
</asp:content>

<asp:content id="Content3" contentplaceholderid="FeaturedContent" runat="server">
</asp:content>

<asp:content id="Content4" contentplaceholderid="ScriptsSection" runat="server">
</asp:content>
