@model evs.Model.LocalPasswordModel


 @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
 {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

     <hgroup class="title">
        <h2 class="text-center">Reset Your Password</h2>
    </hgroup>

    <fieldset>
        
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            <br />
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            <br/>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            <br/>
        <input type="submit" value="Change password" class="btn btn-primary btn-block"/>
    </fieldset>
}
